.button-green {
  text-align: center;
}

.button-green__text {
  font-family: @base-font;
  color: @side-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
}

.button-green__button {
  width: 280px;
  height: 40px;
  margin-top: 17px;
  padding: 10px 20px;
  font-family: @accent-font;
  color: @fancy-color;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: #6bd738;
}
