.contacts-owner {
  border: none;
}

.contacts-owner__title {
  color: @side-color;
  font-family: @accent-font;
}

.contacts-owner__field-group {
  color: @back-color;
  font-family: @accent-font;
}

.contacts-owner__field-label {
  color: @back-color;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
}

.contacts-owner__date-one {
  width: 217px;
  height: 45px;
  color: @back-color;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
}

.contacts-owner__date-two {
  width: 200px;
  height: 45px;
  color: @back-color;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .contacts-owner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 81px;
  }
}
