.data-cat {
  border: none;
}

.data-cat__date {
  width: 228px;
  height: 45px;
  color: @back-color;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
}

.data-cat__date-two {
  width: 207px;
  height: 45px;
  color: @back-color;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
}


.data-cat__date-three {
  width: 173px;
  height: 45px;
  color: @back-color;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
}


.data-cat__field-label {
  color: @back-color;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
}

.filter-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}
