.explanation {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.explanation__list {
  display: grid;
  gap: 24px;
}

.explanation__item {
  padding-left: 80px;
  color: @back-color;
  font-family: @base-font;
  font-size: 14px;
  line-height: 129%;
}

.explanation__title {
  color: @side-color;
  font-family: @accent-font;
  font-size: 36px;
  line-height: 111%;
  margin: 0;
  margin-bottom: 40px;
}

.explanation__text {
  color: @back-color;
  font-family: @base-font;
  font-size: 14px;
  line-height: 129%;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .explanation__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 32px;
  }
}

@media (min-width: @desktop-width) {
  .explanation__list {
    display: flex;
    gap: 88px;
  }
}

.explanation__item__leaflet {
  background-image: url("../../img/mobile-leaflet.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__leaflet {
    background-image: url("../../img/tablet-leaflet.svg");
  }
}

.explanation__item__chemicals {
  background-image: url("../../img/mobile-chemicals.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__chemicals {
    background-image: url("../../img/tablet-chemicals.svg");
  }
}

.explanation__item__devices {
  background-image: url("../../img/mobile-devices.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__devices {
    background-image: url("../../img/tablet-devices.svg");
  }
}

.explanation__item__time {
  background-image: url("../../img/mobile-time.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__time {
    background-image: url("../../img/tablet-time.svg");
  }
}
