.explanation {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.explanation__list {
  .list-reset();
  display: grid;
  gap: 24px;
}

.explanation__item {
  padding-left: 80px;
  color: @back-color;
  font-family: @base-font;
  font-size: 14px;
  line-height: 129%;
}

.explanation__title {
  color: @side-color;
  font-family: @accent-font;
  font-size: 36px;
  line-height: 111%;
  margin: 0;
  margin-bottom: 40px;
}

.explanation__text {
  color: @back-color;
  font-family: @base-font;
  font-size: 14px;
  line-height: 129%;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .explanation__list {
    grid-template-columns: 1fr 1fr;
    gap: 153px;
  }
}

@media (min-width: @tablet-width) {
  .explanation__list::after {
    counter-increment: section; /* Инкрементирует счётчик*/
    content: "Секция " counter(section) ": ";
  }
}

@media (min-width: @tablet-width) {
  ul {
    counter-reset: section; /* Создаёт новый счётчик для каждого тега <ol> */
    list-style-type: none;
  }
}

@media (min-width: @tablet-width) {
  li {
    counter-increment: section;
    content: counters(section, ".") " ";
  }
}

@media (min-width: @tablet-width) {
  .explanation__item {
    font-size: 16px;
    line-height: 150%;
    padding-left: 0;
    padding-top: 100px;
  }
}

@media (min-width: @desktop-width) {
  .explanation__list {
    display: flex;
    gap: 88px;
  }
}

.explanation__item__leaflet {
  background-image: url("../../img/mobile-leaflet.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__leaflet {
    background-image: url("../../img/tablet-leaflet.svg");
  }
}

.explanation__item__chemicals {
  background-image: url("../../img/mobile-chemicals.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__chemicals {
    background-image: url("../../img/tablet-chemicals.svg");
    background-repeat: no-repeat;
  }
}

.explanation__item__devices {
  background-image: url("../../img/mobile-devices.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__devices {
    background-image: url("../../img/tablet-devices.svg");
    background-repeat: no-repeat;
  }
}

.explanation__item__time {
  background-image: url("../../img/mobile-time.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__time {
    background-image: url("../../img/tablet-time.svg");
    background-repeat: no-repeat;
  }
}
