.explanation {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.explanation__list {
  .list-reset();
  display: grid;
  gap: 24px;
}

.explanation__item {
  padding-left: 80px;
  color: @back-color;
  font-family: @base-font;
  font-size: 14px;
  line-height: 129%;
}

.explanation__title {
  color: @side-color;
  font-family: @accent-font;
  font-size: 36px;
  line-height: 111%;
  margin: 0;
  margin-bottom: 40px;
}

.explanation__text {
  color: @back-color;
  font-family: @base-font;
  font-size: 14px;
  line-height: 129%;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .explanation__list {
    grid-template-columns: 1fr 1fr;
    gap: 153px;
  }
}


@media (min-width: @tablet-width) {
  .explanation__item {
    font-size: 16px;
    line-height: 150%;
    padding-left: 0;
    padding-top: 100px;
  }
}

@media (min-width: @tablet-width) {
  .explanation__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 153px;

    counter-reset: number-item;
  }
}

@media (min-width: @tablet-width) {
  .explanation__item {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    padding-left: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .explanation__item::after {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: -1;
    counter-increment: number-item;
    content: counter(number-item);
    font-family: @accent-font;
    font-weight: 400;
    font-size: 280px;
    line-height: 100%;
    color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .explanation__list {
    display: flex;
    gap: 88px;
  }
}

.explanation__item--leaflet {
  background-image: url("../../img/mobile-leaflet.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item--leaflet {
    background-image: url("../../img/tablet-leaflet.svg");
  }
}

.explanation__item--chemicals {
  background-image: url("../../img/mobile-chemicals.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item--chemicals {
    background-image: url("../../img/tablet-chemicals.svg");
    background-repeat: no-repeat;
  }
}

.explanation__item--devices {
  background-image: url("../../img/mobile-devices.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item--devices {
    background-image: url("../../img/tablet-devices.svg");
    background-repeat: no-repeat;
  }
}

.explanation__item--time {
  background-image: url("../../img/mobile-time.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item--time {
    background-image: url("../../img/tablet-time.svg");
    background-repeat: no-repeat;
  }
}
