
.extra-goods {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .extra-goods {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .extra-goods {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
