.gift {
  position: relative;
  margin: 20px;
  margin-top: 35px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../img/surprise.svg"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
    background-repeat: no-repeat;
    background-position: center top 60px, top left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.gift__pic {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.gift__text {
  position: relative;
  font-family: @base-font;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  max-width: 160px;
  margin: 0 auto;
  padding: 200px 0 30px;
  z-index: 3;
}

@media (min-width: @tablet-width) {
  .gift {
    &::after {
      background-position: center left 120px, top left;
    }
  }
}

@media (min-width: @tablet-width) {
  .gift__text {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 20px;
    max-width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    margin-left: 80px;
  }
}
