.main-nav {
  position: relative;
}

.main-nav__toggle {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("../../img/logo-opened.svg");//добавить картинку три полоски и изменить ее на крест с классом модификатором
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../../img/logo-closed.svg");//добавить картинку крест
  top: 20px;
  right: auto;
  left: 20px;
  position: absolute;
}

.main-nav .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__list {
  display: block;
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 10;
  min-height: 80vh;
  background-color: @fancy-color;
}
