.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 94px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
  }
}
