.preview__main-title {
  color: @fancy-color;
  font-family: @accent-font;
  text-align: center;
  max-width: 100%;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}

.preview__main-subtitle {
  color: @fancy-color;
  font-family: @accent-font;
  text-align: center;
}

.preview {
  position: relative;
}


.preview::after {
  content: "";
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 198px;
  z-index: -1;
  /* stylelint-disable unit-no-unknown */
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../img/background-cat.jpg") 1x, url("../../img/background-cat@2x.jpg") 2x);
  /* stylelint-enable unit-no-unknown */
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .preview {
    background: none;
    padding-bottom: 526px;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 404px;
  }
}

@media (min-width: @tablet-width) {
  .preview__main-title {
    font-family: @accent-font;
    color: @side-color;
    font-size: 60px;
    line-height: 100%;
  }
}

@media (min-width: @tablet-width) {
  .preview__main-subtitle {
    font-family: @accent-font;
    color: @side-color;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

@media (min-width: @tablet-width) {
  .preview::after {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .preview__img {
    width: 709px;
    height: 609px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .preview {
    /* stylelint-disable unit-no-unknown */
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../img/background-cat-desktop.jpg") 1x, url("../../img/background-cat-desktop@2x.jpg") 2x);
    /* stylelint-enable unit-no-unknown */
    background-repeat: no-repeat;
  }
}
