.program {
  background-color: rgba(242, 242, 242, 1);
  padding: 30px 20px 18px 20px;
}

.program--slim {
  background-image: url("../../img/mobile-cat-back.svg");
  background-repeat: no-repeat;
  background-position: top 21px left 20px;
}

@media (min-width: @tablet-width) {
  .program--slim {
    background-image: url("../../img/tablet-cat-back.svg");
    background-position: top 81px right 64px;
  }
}

@media (min-width: @desktop-width) {
  .program--slim {
    background-image: url("../../img/desktop-cat-back.svg");
    background-repeat: no-repeat;
  }
}

.program--fat {
  background-image: url("../../img/mobile-panther-back.svg");
  background-repeat: no-repeat;
  background-position: top 21px left 20px;
}

@media (min-width: @tablet-width) {
  .program--fat {
    background-image: url("../../img/tablet-panther-back.svg");
    background-position: top 91px right 29px;
  }
}

@media (min-width: @desktop-width) {
  .program--fat {
    background-image: url("../../img/desktop-panther-back.svg");
    background-repeat: no-repeat;
  }
}


.program__second-title {
  color: @side-color;
  font-family: @accent-font;
  padding-left: 80px;
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
}

.program__action {
  color: @back-color;
  font-family: @base-font;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 0;
  margin-bottom: 15px;
}

.program__link {
  color: @side-color;
  font-family: @accent-font;
  column-gap: 200px;
  padding-right: 50px;
  background-image: url("../../img/arrow-right.svg");
  background-position: right center;
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: uppercase;
}

.program__decorative-line {
  border-top: 1px solid #d9d9d9;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}


@media (min-width: @tablet-width) {
  .programs__second-title {
    font-size: 36px;
    line-height: 100%;
  }
}

@media (min-width: @tablet-width) {
  .programs__action {
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width: @tablet-width) {
  .programs__link {
    text-decoration: none;
  }
}
