.program {
  padding-bottom: 30px;
}

.program--slim {
  background-image: url("../../img/mobile-cat-back.svg");
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .program--slim {
    background-image: url("../../img/tablet-cat-back.svg");
  }
}

@media (min-width: @desktop-width) {
  .program--slim {
    background-image: url("../../img/desktop-cat-back.svg");
    background-repeat: no-repeat;
  }
}

.program--fat {
  background-image: url("../../img/mobile-panther-back.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .program--fat {
    background-image: url("../../img/tablet-panther-back.svg");
  }
}

@media (min-width: @desktop-width) {
  .program--fat {
    background-image: url("../../img/desktop-panther-back.svg");
    background-repeat: no-repeat;
  }
}


.program__second-title {
  color: @side-color;
  font-family: @accent-font;
  text-align: center;
  padding-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
}

.program__action {
  color: @back-color;
  font-family: @base-font;
  padding-top: 29px;
  padding-left: 20px;
  padding-bottom: 23px;
}

.program__link {
  color: @side-color;
  font-family: @accent-font;
  column-gap: 200px;
  padding-right: 50px;
  background-image: url("../../img/arrow-right.svg");
  background-position: right center;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 20px;
}

.decorative-line {
  border-top: 1px solid #d9d9d9;
  border-left: 20px solid transparent;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
