.programs {
  margin-left: 20px;
  margin-right: 20px;
}


.programs__list {
  .list-reset();
  display: grid;
  gap: 20px;
}

@media (min-width: @desktop-width) {
  .programs__list {
    display: flex;
    gap: 80px;
  }
}
