.questionnaire__title {
  color: @side-color;
  font-family: @accent-font;
  margin-left: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}

.questionnaire__subtitle {
  color: @side-color;
  font-family: @accent-font;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  max-width: 250px;
}

.questionnaire {
  background-color: @fancy-color;
}

.data-cat__field-label {
  font-family: @accent-font;
  color: @back-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
}

.filter__label {
  font-family: @accent-font;
  color: @back-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .questionnaire__title {
    padding-left: 70px;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
  }
}

@media (min-width: @tablet-width) {
  .questionnaire__subtitle {
    padding-left: 70px;
    max-width: 323px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
  }
}
