.transfer__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img text"
    "button button";
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.transfer__pic {
  grid-area: img;
  align-self: center;
  justify-self: center;
}

.transfer__info {
  grid-area: text;
}

.transfer__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: @back-color;
  font-family: @base-font;
  line-height: 16px;
  font-size: 12px;

  dd {
    margin: 0;
    justify-self: end;
  }
}

.transfer__subtitle {
  color: @special-color;
  font-family: @accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
}

.transfer__button {
  grid-area: button;
  margin-top: 17px;
  padding: 10px 20px;
  font-family: @accent-font;
  color: @fancy-color;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: #6bd738;
}

.transfer__headline {
  color: @special-color;
  font-family: @accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}

.transfer__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .transfer__card {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @tablet-width) {
  .transfer__subtitle {
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .transfer__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    padding-top: 80px;
  }
}
