.transfer {
  border-top: 1px solid #d9d9d9;
}

.transfer__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img text"
    "button button";
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #d9d9d9;

  &--more {
    grid-template-columns: 1fr;
    grid-template-areas:
      "subtitle"
      "text"
      "button";
    text-align: center;
    padding-top: 78px;
    background-image: url("../../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center top 10px;
    border-bottom: 1px solid #d9d9d9;

    .transfer__subtitle {
      max-width: initial;
    }

    .transfer__text {
      grid-template-columns: 1fr;
    }

    .transfer__button {
      background-color: #f2f2f2;
      color: @back-color;
    }
  }
}


.transfer__pic {
  grid-area: img;
  align-self: center;
  justify-self: center;
}

.transfer__info {
  grid-area: text;
}

.transfer__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: @back-color;
  font-family: @base-font;
  line-height: 16px;
  font-size: 12px;

  dd {
    margin: 0;
    text-align: right;
  }
}

.transfer__subtitle {
  grid-area: subtitle;
  color: @special-color;
  font-family: @accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  max-width: 76px;
  margin: 0;
  margin-bottom: 14px;
}

.transfer__button-all {
  grid-area: button;
  margin-top: 17px;
  padding: 10px 20px;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  color: #444444;
}

.transfer__button {
  grid-area: button;
  margin-top: 17px;
  padding: 10px 20px;
  font-family: @accent-font;
  color: @fancy-color;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: #6bd738;
}

.transfer__button:hover {
  background-color: #5eaa2f;
}

.transfer__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.transfer__button-all:hover {
  background-color: #ebebeb;
}

.transfer__button-all:active {
  background-color: #ebebeb;
}

.transfer__headline {
  color: @special-color;
  font-family: @accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 41px;
  padding-top: 27px;
}

.transfer__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .transfer__card {
    border-top: none;
  }
}

@media (min-width: @tablet-width) {
  .transfer {
    border-top: none;
  }
}

@media (min-width: @tablet-width) {
  .transfer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (min-width: @tablet-width) {
  .transfer__card {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "text"
      "button";
    background-image: linear-gradient(#ffffff, #ffffff 81px, #f2f2f2 81px, #f2f2f2);
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-top: 0;

    &--more {
      grid-template-columns: 1fr;
      grid-template-areas:
        "subtitle"
        "text"
        "button";
      text-align: center;
      padding-top: 80px;
      background-image: url("../../img/plus.svg");
      background-repeat: no-repeat;
      background-position: center top 30px;
      border: 1px solid #d3d3d3;
      margin-top: 80px;

      .transfer__subtitle {
        max-width: 120px;
      }

      .transfer__text {
        grid-template-columns: 1fr;
        max-width: 140px;
        justify-self: center;
      }

      .transfer__button {
        background-color: #f2f2f2;
        color: @back-color;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .transfer__headline {
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
  }
}

@media (min-width: @tablet-width) {
  .transfer__subtitle {
    justify-self: center;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 150px;
  }
}

@media (min-width: @tablet-width) {
  .transfer__text {

    font-weight: 400;
    font-size: 16px;
    line-height: 125%;

    dt {
      border-bottom: 1px solid #d9d9d9;
    }

    dd {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

@media (min-width: @desktop-width) {
  .transfer__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
